@import "tailwindcss";

:root {
  --foreground: #1C1C1C;
}

@theme inline  {
  --color-background: var(--background);
  --color-defaultGray: #5E5E5E;
  --color-seconderyGray: #2B2B2B;
  --color-defaultBlue: #0E4194;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C1C;
  }
}

body {
  background: var(--background);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
